<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Information</h1>
    <hr>
    Name: <%=data.name%>
    <br>
    Dojo Location: <%=data.location%>
    <br>
    Favorite Language: <%=data.language%>
    <br>
    Comment: <%=data.comment%>
    <br>
    <button><a href="/">Go Back</a></button>
</body>
</html>